# links follow
Options +FollowSymlinks
# rewrite Apache activate
RewriteEngine On

# error 404 -> /404.php
RewriteRule ^404/?$ 404.php
ErrorDocument 404 /404.php

# /accueil
RewriteRule ^accueil$ /controllers/home-controller.php [L]

# /inscription
RewriteRule ^inscription$ /controllers/registration-controller.php [L]

# /connexion
RewriteRule ^connexion$ /controllers/connection-controller.php [L]

# /contact
RewriteRule ^contact$ /controllers/contact-controller.php [L]

# /conditions
RewriteRule ^conditions$ /controllers/conditions-controller.php [L]

# /actualités
RewriteRule ^actualités$ /controllers/actuality-controller.php [L]

# /profil
RewriteRule ^profil$ /controllers/profile-controller.php [L]

# /amis
RewriteRule ^amis$ /controllers/friends-controller.php [L]

# /édition
RewriteRule ^édition$ /controllers/edition-controller.php [L]

# /déconnexion
RewriteRule ^déconnexion$ /controllers/logout.php [L]

# /récupération
RewriteRule ^récupération$ /controllers/recovery-controller.php [L]

# /activation
RewriteRule ^activation$ /controllers/validate-user-controller.php [L]

# /administration-utilisateurs
RewriteRule ^administration-utilisateurs$ /controllers/dashboard-user-controller.php [L]

# /administration-actualités
RewriteRule ^administration-actualités$ /controllers/dashboard-post-controller.php [L]

# /administration-signalements
RewriteRule ^administration-signalements$ /controllers/dashboard-reported-controller.php [L]

# /supprimer-actualité
RewriteRule ^supprimer-actualité$ /controllers/delete-post-controller.php [L]

# /modifier-actualité
RewriteRule ^modifier-actualité$ /controllers/update-post-controller.php [L]

# /signaler-actualité
RewriteRule ^signaler-actualité$ /controllers/report-post-controller.php [L]

# /supprimer-utilisateur
RewriteRule ^supprimer-utilisateur$ /controllers/delete-user-controller.php [L]

# /supprimer-signalement
RewriteRule ^supprimer-signalement$ /controllers/delete-report-controller.php [L]

# /bannir-utilisateur
RewriteRule ^bannir-utilisateur$ /controllers/banned-user-controller.php [L]

# /mentions
RewriteRule ^mentions$ /controllers/mentions-controller.php [L]