# links follow
Options +FollowSymlinks
# rewrite Apache activate
RewriteEngine On

# error 404 -> /404.php
RewriteRule ^404/?$ 404.php
ErrorDocument 404 /404.php

# /home
RewriteRule ^accueil$ /controllers/home-controller.php [L]

# /registration
RewriteRule ^inscription$ /controllers/registration-controller.php [L]

# /connection
RewriteRule ^connexion$ /controllers/connection-controller.php [L]

# /contact
RewriteRule ^contact$ /controllers/contact-controller.php [L]

# /conditions
RewriteRule ^conditions$ /controllers/conditions-controller.php [L]

# /actuality
RewriteRule ^actualités$ /controllers/actuality-controller.php [L]

# /profile
RewriteRule ^profil$ /controllers/profile-controller.php [L]

# /friends
RewriteRule ^amis$ /controllers/friends-controller.php [L]

# /edition
RewriteRule ^édition$ /controllers/edition-controller.php [L]

# /logout
RewriteRule ^déconnexion$ /controllers/logout.php [L]

# /recovery
RewriteRule ^récupération$ /controllers/recovery-controller.php [L]

# /dashboard
RewriteRule ^administration$ /controllers/dashboard-controller.php [L]

# /dashboard
RewriteRule ^supprimer-utilisateur$ /controllers/delete-user-controller.php [L]

# /mentions
RewriteRule ^mentions$ /controllers/mentions-controller.php [L]