@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

webkit-scrollbar { width: 0 !important }

:root {
  --backgroundColor: #ffffff00;
  --backgroundColorButton: #e5643f;
  --titleColor: #C74F2D;
  --buttonColor: #e1e1e1;
  --borderColor: #e5643f94;
  --shadowColor: 0 0 0 0.25rem rgb(243 161 105 / 50%);
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  color: #222F3D;
}

a {
  color: #222F3D;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.orange {
  color: var(--titleColor);
}

/* glassmorphisme */
.glassmorphism {
  background: rgb(215 215 215 / 40%);
  border-radius: 0.5em;
  border: 1px solid rgb(229 229 229);
  backdrop-filter: blur(5px);
}

/* background */
.bg-main {
  background-image: url("../img/Illustrations/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

/* table */
tbody, td, tfoot, th, thead, tr {
  font-size: 0em;
}

/* page */
.page-link {
  color: #222F3D;
  background-color: #e7e7e600;
  border: 1px solid var(--backgroundColorButton);
}
.page-item.disabled .page-link {
  color: #222F3D;
  background-color: #e7e7e600;
  border-color: var(--backgroundColorButton);
}
.page-item.active .page-link {
  z-index: 3;
  color: var(--buttonColor);
  background-color: #ca6042;
  border-color: var(--backgroundColorButton);
}
.page-link:hover {
  color: #222F3D;
  background-color: #ca6042;
  border-color: var(--backgroundColorButton);
}
.page-link:focus {
  color: #222F3D;
  background-color: #ca6042;
  box-shadow: none;
}

/* tchat */
::-webkit-scrollbar {
  display: none;
}

.tchat {
  height: 60vh;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #e4e4e400;
  background-clip: none;
  border: none;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgb(0 0 0 / 0%);
  border-bottom: none;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgb(0 0 0 / 0%);
  border-top: none;
}

.bg-sender{
  background-color: #6e8bd4;
  border-radius: 1rem 1rem 1rem 0rem;
}

.bg-recipient{
  background-color: #f29b69;
  border-radius: 1rem 1rem 0rem 1rem;
}

/* navbar */
h1 {
  font-weight: bold;
  color: var(--titleColor);
}

h2 {
  font-weight: bold;
  color: var(--titleColor);
}

h3 {
  font-weight: bold;
  color: var(--titleColor);
}

.navImgLogo {
  max-width: 4em;
}

.socialIcon {
  max-width: 3em;
  height: auto;
}

.img-dashboard{
  max-width: 3em;
  height: auto;
}

.nav-link {
  font-weight: bold;
  color: var(--titleColor);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.img-fluid {
  max-width: 10em;
  height: auto;
}

.img-registration {
  width: fit-content;
  height: 3.5em;
}

.img-profile {
  max-width: 5em;
  height: auto;
}

.img-friends {
  max-height: 3em;
  width: auto;
}

.img-friends-profile {
  max-width: 2em;
  height: auto;
}

.fs-7 {
  font-size: 0.7rem;
}

.my-message {
  border: 1px solid var(--borderColor);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  background-color: #ffeb5226;
}
.message {
  border: 1px solid var(--borderColor);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  background-color: #6a8bd321;
}

/* floating css */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

/* dashboard */
.nameDashboard {
  color: var(--titleColor);
}

/* 404 */
.notFound {
  padding-top: 30vh;
}

.linkNotFound {
  color: var(--titleColor);
}

/* formulaires */
.formTitle {
  color: var(--titleColor);
}

.form-control {
  color: #222F3D;
  background: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 0.5em;
}

.form-control:focus {
  color: #222F3D;
  background: var(--backgroundColor);
  border-color: var(--borderColor);
  box-shadow: var(--shadowColor);
}

.form-check-input[type=checkbox] {
  border-radius: 0.5em;
}

.form-check-input {
  background: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--borderColor);
  border-color: var(--borderColor);
}

.form-check-input:focus {
  border-color: var(--borderColor);
  box-shadow: var(--shadowColor);
}

.my-btn {
  color: var(--titleColor);
  background: var(--backgroundColor);
}

.my-btn:focus {
  color: var(--buttonColor);
  background: var(--backgroundColorButton);
  box-shadow: var(--shadowColor);
}

.my-btn:active,
.show>.btn-primary.dropdown-toggle {
  color: var(--buttonColor);
  background: var(--backgroundColorButton);
}

.my-btn:hover {
  color: var(--buttonColor);
  background: var(--backgroundColorButton);
}

.btn {
  border-radius: 0.5em;
}

.alert {
  color: var(--titleColor);
  padding: 0rem;
  margin-bottom: 0rem;
  font-weight: bold;
}

.alertColor {
  background: #dc89893b;
}

/* notif */
.toast {
  width: 100%;
}

.toast:not(.showing):not(.show) {
  opacity: 1;
}

.bg-notif {
  background-color: #c74f2d!important;
}

.modal-content {
  background-color: #6389d400;
  border: none;
}

.modal-btn:hover {
  color: var(--buttonColor);
  background: var(--backgroundColorButton);
  border-color: var(--borderColor);
}

.modal-btn {
  color: var(--buttonColor);
  background: var(--backgroundColorButton);
  border-color: var(--borderColor);
}

.modal-body {
  padding: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 0.5rem;
}

.modal-header {
  border-bottom: none;
  padding: 0.5em;
}

/* emoji */
.emoji-drawer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: opacity 0.2s;
}

.hidden {
opacity: 0;
}

.emoji {
  text-align: center;
  font-size: 1.2em;
}

.emoji:hover {
  cursor: pointer;
}

/* like */
.like {
  width: 75px;
  height: 75px;
  background: url(/public/assets/img/icons/like.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  margin-top: -1.2em;
  margin-bottom: -2em;
  margin-left: -2em;
  margin-right: -1em;
}
.like.is-active {
  transition-duration: 1s;
  background-position: -2100px 0;
}

/* Screen size is 576px */
@media screen and (min-width: 576px) {
  tbody, td, tfoot, th, thead, tr {
      font-size: 0.9em;
  }
}

/* Screen size is 768px */
@media screen and (min-width: 768px) {
  .img-fluid {
    max-width: 16em;
    height: auto;
  }
}